header{
	background-image: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url(bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	height: 100vh;
}

html{
	scroll-behavior: smooth;
	scroll-padding-top: 6rem;
	overflow-x: hidden;
}

.banner-text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.navbar-brand{
	font-family: big john;
}

.nav-link{
	font-family: poppins;
	text-transform: uppercase;
}

.banner-text{
	font-family: poppins;
	color: #fff;
}

.banner-btn a{
	border: 1px solid #fff;
	border-radius: 20px;
	text-decoration: none;
	padding: 10px 50px;
	display: inline-block; 
	margin-top: 15px;
	color: #fff;
}

.heading span{
	color: #f7d0cd;
}

.heading{
	text-align: center;
	font-size: 40px;
	color: #c78b87;
	padding: 1rem;
	margin: 2rem 0;
	background: #734f4d;
}

.about .row{
	display: flex;
	align-items: center;
	grid-gap: 2rem;
	flex-wrap: wrap;
	padding: 2rem 0;
	padding-bottom: 3rem;
}

.about .row .GIF-container{
	flex: 1 1 40rem;
	position: relative;
}

.about .row .GIF-container img{
	width: 100%;
	border: 1.5rem solid #fff;
	border-radius: .5rem;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
	height: 100%;
	object-fit: cover;

}

.about .row .GIF-container h3{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 3rem;
	background: #fff;
	width: 100%;
	padding: 1rem 2rem;
	text-align: center;
	mix-blend-mode: screen;
	text-decoration: bold;
}

.about .row .content{
	flex: 1 1 40rem;
}

.about .row .content h3{
	font-size: 20px;
	color: #333;
}

.about .row .content p{
	font-size: 10px;
	color: #999;
	padding: 5rem 0;
	padding-top: 1rem;
	line-height: 1.5;
}